@import "tipografia";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 768px){
    .navbar{    
       align-items: center;
       list-style-type: none;
       text-transform:uppercase;
        & li a{
            color: black;
            font-size: 18px;
            text-align: center;
        }
        & img {
            width: 300px;
        }
    }
    main {
        .tituloBarra {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }
        & .maingaleria{
            h1{
                text-align: center;
                font-size: 20px;
                color: white;
                margin-bottom: 20px;
                background-color: black;
                padding: 10px;
            }
            .galeria{
                .card{
                    margin-right: 45px;
                    margin-left: 45px;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    width: 15rem;
                    &:hover {
                        opacity: 0.5;
                        border-color: darkblue;
                    }
                    & img{
                        border-radius: 15px;
                    }
                    & h5{
                        text-align: center;
                    }
                }
            }
        }
    }
    .ubicacion {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100vw;
        height: 200px;
    }

    .formulario {
        margin: 0;
        width: 100vw;
        text-align: center;
        justify-self: center;
        align-self: center;
        & input {
            height: 50px;
            width: 95vw;
            border-radius: 15px;
            text-align: center;
            margin-bottom: 10px;
        }
        & button {
            margin: 15px;
        }
    }
    footer {
        height: 50px;
        background-color: gray;
        text-align: center;
        & p {
            padding: 10px;
            color: black;
        }
    }

}
@media screen and (min-width: 768px){
    .navbar{            
       flex-direction: column;
       position: fixed;
       top: 0;
       align-items: center;
       list-style-type: none;
       flex-wrap: wrap;
       text-transform:uppercase;
        & li a{
            color: black;
            font-family: $menu;
            font-size: 18px;
            text-align: center;
            &:hover {
                color: white;
                background-color: black;
                border-radius: 8px;
            }
        }
        & img {
            margin: 0;
            padding: 0;
        }
    }
    main {
        .tituloBarra {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }
    }
    .maingaleria{
        .galeria{
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .card{
                border-radius: 15px;
                margin-bottom: 15px;
                width: 15rem;
                &:hover {
                    opacity: 0.5;
                    border-color: darkblue;
                }
                & img{
                    border-radius: 15px;
                }
                & h5{
                    text-align: center;
                }
            }
        }
    }

    .slideInicio {
        grid-area: main;
        height: 100px;
        width: 100vw;
    }

    .ubicacion {
        text-align: center;
    }

    .formulario {
        margin: 0;
        width: 100vw;
        text-align: center;
        justify-self: center;
        align-self: center;
        & input {
            height: 50px;
            width: 95vw;
            border-radius: 15px;
            text-align: center;
            margin-bottom: 10px;
        }
        & button {
            margin: 15px;
        }
    }


    footer {
        grid-area: footer;
        height: 50px;
        margin-top: 20px;
        background-color: gray;
        text-align: center;
        & p {
            padding: 10px;
            color: black;
        }
    }
}
